{% extends 'user_layout.html' %}
<!-- Авторизация -->


{% block content %}
<div class="box has-text-centered has-background-link-light" style="width: 50%; height: 100%; margin: 20px auto;">    
    <form method="post">
        <div class="title is-1">
            Авторизация
        </div>
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
            <label for="{{ field.id_for_label }}" class="label">
                {{field.label}}
            </label>
            <div for="control">
                {{field}}
            </div>
        </div>
        {% endfor %}

        {% if form.errors %}
        <ul>
            {% for error in form.errors.values %}
            <li class="has-text-danger">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <button class="button is-link mt-2">
            Войти
        </button>
        <div class="content mt-4">
            <span>Ещё не зарегистрировались?</span>
            <br>
            <a href="{% url 'users:sign_up' %}">
                Создать аккаунт
            </a>
        </div>
    </form>
</div>    
{% endblock %}