.is-fullheight-with-navbar{
    background-image: url(ATL.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.grid{
    position: relative;
    display: grid;
    color: white;
    left: 20px;
    font-size: large;
}

