{% extends "base_layout.html" %}

{% block content %}

<div class="columns">
    <div class="column mt-6 ml-4">
        <div class="box has-background-link">
            <div class="columns">
                <div class="column">
                    <figure>
                        <img src="{{ album.album_image.url }}" alt="">
                    </figure>
                    <div class="title has-text-centered has-text-white">{{ album }}</div>
                </div>

                <div class="column">
                    <div class="subtitle has-text-white">{{ album.description }}</div>
                </div>

            </div>
        </div>
    </div>
    <div class="column">
        <div class="container mt-6 has-text-centered">
            <script>
                var player = new Playerjs({ id: "player", file: {{ list_playlist | safe}}});
            </script>
            <div id="player" class="mr-4">
            </div>
        </div>
    </div>    
</div>

<div class="box">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}

        {% if field.name == 'rating' %}
        <div class="field">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="control">
                <div class="select">
                    {{field}}
                </div>
            </div>
        </div>
        {% else %}
        <div class="field">
            <label for="{{field.id_for_label}}" class="label">
                {{field.label}}
            </label>
            <div class="control">
                {{field}}
            </div>
        </div>
        {% endif %}


        {% endfor %}
        <button class="button is-success">
            Отправить
        </button>
    </form>
</div>








{% endblock %}