{% extends 'base_layout.html' %}

{% block content %}
<div class="section">
    <div class="columns is-vcentered">
    <div class="column">
        <form method="get">
            <div class="field has-addons">
                <div class="control">
                    <input placeholder="Найти альбом" type="search" class="input" name="search">
                </div>
                <div class="control">
                    <button class="button" type="submit">
                        <ion-icon name="search-outline">
                        </ion-icon>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="column has-text-centered">
        <div class="subtitle has-text-white">Фильтрация:</div>
        <div class="tags is-centered">
            <a class="tag is-link" href="{% url 'music_player:albums' %}?actions=for_views">
                По прослушиваниям
            </a>
            <a class="tag is-link" href="{% url 'music_player:albums' %}?actions=for_tracks">
                По количеству треков
            </a>
            <a class="tag is-link" href="{% url 'music_player:albums' %}?actions=for_rate">
                По рейтингу
            </a>
        </div>
    </div>
</div>
</div>
{% for album in albums_list %}
<div class="column mx-3">
    <div class="box has-background-link has-text-white">
        <div class="columns is-vcentered">
            <div class="column">
                <a href="{% url 'music_player:album' album.pk %}">
                    <img class="image is-128x128" style="margin: auto;" src="/media/{{ album.album_image }}">
                </a>
            </div>
            <div class="column">
                <a href="{% url 'music_player:album' album.pk %}">
                    <div class="title has-text-centered has-text-white mt-1">{{album}}</div>
                </a>
            </div>
            <div class="column">
                <div class="columns is-vcentered">
                    <div class="column is-1 mr-5">
                        <ion-icon class="icon is-medium mt-1" name="headset-outline"></ion-icon>
                    </div>
                    <div class="column">
                        <span class="title has-text-white">Прослушиваний - {{ album.views_count }} </span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="columns is-vcentered">
                    <div class="column is-1 mr-5">
                        <ion-icon class="icon is-medium mt-1" name="star-half-outline"></ion-icon>
                    </div>
                    <div class="column">
                        <span class="title has-text-white">Рейтинг - {{ album.rate }}</span>
                    </div>
                </div>
            </div>
            <div class="column is-1">
                <div class="columns is-vcentered">
                    <div class="column" onclick="showSongs(this.dataset.pk)" data-pk="{{album.pk}}" >
                        <ion-icon class="icon has-text-white is-medium mt-1 chevron-{{album.pk}}" name="chevron-down"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
        <div  class="box has-text-centered has-background-link-light album-{{album.pk}}" style="display: none;">
            {% for song in album.songs.all %}
            <div class="column">
                <a href="{% url 'music_player:song' song.pk %}" class="subtitle is-4 has-text-centered">{{song}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}