{% extends "base_layout.html" %}

{% block content %}

<div class="columns">
    <div class="column mt-6 ml-4">
        <div class="box has-background-link">
            <div class="columns">
                <div class="column">
                    <figure>
                        <img src="{{ album.album_image.url }}" alt="">
                    </figure>
                    <div class="title has-text-centered has-text-white">{{ album }}</div>
                </div>

                <div class="column">
                    <div class="subtitle has-text-white">{{ album.description }}</div>
                </div>

            </div>
        </div>
    </div>
    <div class="column">
        <div class="container mt-6 has-text-centered">
            <script>
                var player = new Playerjs({ id: "player", file: {{ list_playlist | safe}}});
            </script>
            <div id="player" class="mr-4">
            </div>
        </div>
    </div>
</div>








{% endblock %}