{% extends "base_layout.html" %}

{% block content %}

{% for song in song_album_list %}
<div class="container mt-6 has-text-centered">
    <div class="box has-background-link-light"><div class="title is-size-5">"{{ song }}" из альбома - <a href="{% url 'music_player:home' %}">"{{ album }}"</a></div></div>
    <script>
        var player = new Playerjs({ id: "player", file: "/media/{{song.song}}", poster: "/media/{{song.album.album_image}}"});
    </script>
    <div id="player" style="width: 500px; height: 500px ;">
    </div>
</div>
{% endfor %}

{% endblock %}