{% extends 'base_layout.html' %}

{% block content %}
<div class="modal {% if modal %} is-active {% endif %}">
  <div class="modal-background"></div>
  <div class="modal-content">
      <div class="box has-text-centered">
          <form method="get" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="title is-3">
                  Введите имя исполнителя:
              </div>
              <input name="singer_name" required class="input"></input>
              <div class="title mt-2 is-6">
                  Выберите изображение исполнителя:
              </div>
              <div class="mb-5"><input required type="file" name="singer_image"></div>
              
          <button type="submit" class="button is-success">Подтвердить</button>
          <a href="{% url 'music_player:home' %}" class="button is-danger">Отмена</a>
          </form>
      </div>
  </div>
</div>
<div class="box has-background-link my-5 mx-5">
<div class="column has-text-centered">
    <div class="title has-text-white">Создайте свой альбом:</div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in album_form %}
        <div class="has-text-white mt-4 subtitle">{{ field.label }}</div>
        <div class="has-text-white" style="width: 50%; margin: 0px auto;">{{ field }}</div>
        {% endfor %}
        <button class="button mt-4" type="submit" style="width: 25%;">Создать</button>
    </form>
    {% if albums %}
    <div class="dropdown is-hoverable mt-4">
        <div class="dropdown-trigger">
          <button class="button has-background-link">
            <span class="subtitle is-4 has-text-white">Либо выберите один из существующих альбомов</span>
          </button>
        </div>
        <div class="dropdown-menu" style="width: 100%;">
          <div class="dropdown-content">
            {% for album in albums %}
            <a href="{% url 'music_player:upload' album.pk %}" class="dropdown-item has-text-centered">
              {{ album }}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
</div>
</div>


{% endblock %}