{% extends 'base_layout.html' %}

{% block content %}
<div class="container-slide">
    <div class="title has-text-white has-text-centered is-family-sans-serif mt-2">Новые треки</div>
    <div id="carousel-demo" class="carousel">
        {% for song in new_songs %}
        <div class="item-1 mx-4">
            <a href="{% url 'music_player:song' song.pk %}">
                <div class="card mt-2 has-background-link-light">
                    <div class="card-image pt-2">
                        <img class="image" style="margin: auto; width: 200px; height: 200px;"
                            src="/media/{{ song.album.album_image }}">
                    </div>
                    <div class="card-content has-text-centered">
                        <div class="title">{{ song }}</div>
                        <div class="subtitle">{{ song.song_singer }}</div>

                        <div class="container has-background-link-light">
                            <div class="title is-size-5">
                                <div class="columns is-gapless is-flex is-justify-content-center is-align-items-center">
                                    <ion-icon name="caret-forward-circle-outline">
                                    </ion-icon>
                                    <span class="ml-2">
                                        {{ song.views }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container-slide mb-5">
    <link rel="stylesheet" href="style.css">
    <div class="title has-text-white has-text-centered mt-4">Популярные треки</div>
    <div id="carousel-demo" class="carousel">
        {% for song in popular_songs %}
        <div class="item-1 mx-4">
            <div class="card mt-2 has-background-link-light">
                <div class="card-image pt-2">
                    <img class="image" style="margin: auto; width: 200px; height: 200px;"
                        src="/media/{{ song.album.album_image }}">
                </div>
                <div class="card-content has-text-centered">
                    <div class="title">{{ song }}</div>
                    <div class="subtitle">{{ song.song_singer }}</div>

                    <div class="container has-background-link-light">
                        <div class="title is-size-5">
                            <div class="columns is-gapless is-flex is-justify-content-center is-align-items-center">
                                <ion-icon name="caret-forward-circle-outline">
                                </ion-icon>
                                <span class="ml-2">
                                    {{ song.views }}
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}