{% extends 'base_layout.html' %}

{% block content %}
<div class="box has-background-link-light">
    <div class="columns">
        <div class="column">
            <div class="title has-text-centered">{{ playlist }}</div>
            <div class="container mt-6 has-text-sentered">
                <script>
                    var player = new Playerjs({ id: "player", file: {{ playlist_songs | safe}}});
                </script>
                <div id="player" style="width: 500px; height: 500px ;">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ul">
                {% for song in playlist.songs.all %}
                <div class="li"> {{song}} </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}