{% extends 'base_layout.html' %}

{% block content %}
<div class="section">
<div class="container has-text-centered">
    <form method="get">
            <div class="field has-addons">
                <div class="control">
                    <input type="search" placeholder="Найти трек" class="input" name="search">
                </div>
                <div class="control">
                    <button class="button" type="submit">
                        <ion-icon name="search-outline">
                        </ion-icon>
                    </button>
                </div>
            </div>
    </form>
</div>


<div class="columns my-2">
    <div class="column">
        <div class="columns is-multiline is-centered p-4">
            {% for song in songs_list %}
            <div class="column is-4">
                <a href="{% url 'music_player:song' song.pk %}">
                    <div class="card mt-2 has-background-link-light">
                        <div class="card-image pt-2">
                            <img class="image" style="margin: auto; width: 200px; height: 200px;"
                                src="/media/{{ song.album.album_image }}">
                        </div>
                        <div class="card-content has-text-centered">
                            <div class="title">{{ song }}</div>
                            <div class="subtitle">{{ song.song_singer }}</div>

                            <div class="container has-background-link-light">
                                <div class="title is-size-5">
                                    <div class="columns is-gapless is-flex is-justify-content-center is-align-items-center">
                                        <ion-icon name="headset-outline">
                                        </ion-icon>
                                        <span class="ml-2">
                                            {{ song.views }}
                                            </span>
                                    </div>
                                </div>
                            </div>
                            
                            {% if request.user in song.add_my.all %}
                            <a href="{% url 'music_player:songs' %}?add_to={{ song.pk }}" class="button mt-2 is-link"
                                onclick="setTimeout()">
                                <ion-icon name="checkmark-outline"></ion-icon>
                            </a>

                            {% else %}
                            <a href="{% url 'music_player:songs' %}?add_to={{ song.pk }}"
                                class="button has-background-link-light mt-2" onclick="setTimeout()">
                                <ion-icon name="add-outline"></ion-icon>
                            </a>
                            {% endif %}
                            {% if request.user in song.likes.all %}
                            <a href="{% url 'music_player:songs' %}?likes={{ song.pk }}"
                                class="button has-background-link-light mt-2" onclick="setTimeout()">
                                <ion-icon class="has-text-danger" name="heart"></ion-icon>
                            </a>
                            {% else %}
                            <a href="{% url 'music_player:songs' %}?likes={{ song.pk }}"
                                class="button has-background-link-light mt-2" onclick="setTimeout()">
                                <ion-icon name="heart-outline"></ion-icon>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}