{% extends 'base_layout.html' %}
{% block content %}


<div class="container mt-6 has-text-centered">
    <div class="box has-background-link-light"><div class="title is-size-5">"{{ song }}" из альбома - <a href="{% url 'music_player:home' %}">"{{ song.album }}"</a></div></div>
    <script>
        var player = new Playerjs({ id: "player", file: "/media/{{song.song}}", poster: "/media/{{song.album.album_image}}", title: "{{ song }}"});
    </script>
    <div id="player" style="width: 500px; height: 500px ;">
    </div>

    <div class="box has-background-link-light">
        <div class="title is-size-5">
            <div class="columns is-gapless is-flex is-justify-content-center is-align-items-center">
                <ion-icon name="caret-forward-circle-outline">
                </ion-icon>
                <span class="ml-2">
                    {{ song.views.count }}
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}